@using Askmethat.Aspnet.JsonLocalizer.Localizer
@inject IDataService DataService
@inject IJsonStringLocalizer<ListModel> Localizer
@{
    ListModel listModel = (ListModel)Model;
    Pager pgr = listModel.Pager;
    string root = Url.Content("~/");
    string cover = $"{root}{listModel.Blog.Cover}";
    int current = 0;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:url" content="https://www.sv2web.no/blog" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Sv2web - Daniel Soli Stensvik" />
    <meta property="og:description" content="Personlig webside for Daniel Soli Stensvik" />
    <meta property="og:image" content="https://www.sv2web.no/data/Daniel/2020/9/sv2web.png" />
    <partial name="~/Views/Themes/Sv2blog/Shared/Head.cshtml" />
</head>
<body class="homepage-v5 hidden-sn animated">
    <partial name="~/Views/Themes/Sv2blog/Shared/Header.cshtml" model="listModel.Blog.SocialFields" />
    <!--Main layout-->
    <!--Intro-->
    <section>
        <div class="container-fluid">

            <!--Excerpt-->
            <br>
            <h1 class="text-center dark-grey-text pb-3 mt-5 pt-5">
                <strong>@listModel.Blog.Title</strong>
            </h1>

            <p class="grey-text text-center mb-4 text-uppercase spacing">@listModel.Blog.Description </p>

            <!--Grid row-->
            @*<div class="row flex-center">*@

            <!--Grid column-->
            @*<div class="col-md-10 col-xl-5">

                    <p class="grey-text text-center">
                        <em>

                        </em>
                    </p>

                </div>*@
            <!--Grid column-->
            @*  </div>*@
            <!--Grid row-->

        </div>
    </section>
    <!--/Intro-->
    <!--Blog section-->
    <section>
        <div class="container-fluid grey lighten-4">
            <hr class="my-5">
            <div class="container">
                <!--Blog-->
                <div class="row mt-5 pt-3">
                    
                    @if (listModel.Posts.Count() > 0)
                    {
                        <!--Main listing-->
                        <div class="col-lg-8 col-12 mt-1 mx-lg-4">
                            <!--Section: Blog v.3-->
                            <section class="section extra-margins pb-3 text-center text-lg-left">
                                @foreach (var post in listModel.Posts)
                                {
                                    if (current == 0 || current == 3)
                                    {
                                        <!--Grid row-->
                                        <div class="row mb-4">

                                            <!--Grid column-->
                                            <div class="col-md-12">
                                                <!--Card-->
                                                <div class="card">

                                                    <!--Card image-->
                                                    <div class="view overlay list-img-desktop-div">
                                                        <img src="~/@post.Cover.ToThumbLarge()" onerror="this.onerror=null;this.src='@root@post.Cover';" class="card-img-top list-img-desktop-size" alt="@post.Title">
                                                        @if (post.Featured)
                                                        {
                                                            <span class="post-featrued-label"><i class="fa fa-star"></i>@Localizer["featured"]</span>
                                                        }
                                                        <a href="~/posts/@post.Slug">
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>
                                                    </div>
                                                    <!--/.Card image-->
                                                    <!--Card content-->
                                                    <div class="card-body mx-4">
                                                        <!--Title-->
                                                        <h4 class="card-title">
                                                            <strong><a href="~/posts/@post.Slug">@post.Title</a> </strong>
                                                        </h4>
                                                        <em class="written-by">
                                                            @Localizer["written-by"] @post.Author.DisplayName, @post.Published.ToFriendlyDateString()
                                                        </em>
                                                        <hr>
                                                        <!--Text-->
                                                        <p class="dark-grey-text mb-3">
                                                            @Html.Raw(post.Description)
                                                        </p>
                                                        <p class="text-right mb-0 text-uppercase dark-grey-text font-weight-bold">
                                                            <a href="~/posts/@post.Slug" style="color:white" class="btn btn-dark float-left">@Localizer["read"]...</a>
                                                        </p>
                                                    </div>
                                                    <!--/.Card content-->

                                                </div>
                                                <!--/.Card-->
                                            </div>
                                            <!--Grid column-->

                                        </div>
                                        <!--/Grid row-->
                                    }
                                    else
                                    {
                                        @if (current == 1 || (current % 2 == 0 && current != 2))
                                        {
                                            <!--Grid row-->
                                            @Html.Raw("<div class='row'>")
                                        }
                                        <!--Grid column-->
                                        <div class="col-md-6 mb-4">
                                            <!--Card-->
                                            <div class="card">

                                                <!--Card image-->
                                                <div class="view overlay list-img-desktop-div-small">
                                                    <a href="~/posts/@post.Slug">
                                                        <img src="~/@post.Cover.ToThumb()" onerror="this.onerror=null;this.src='@root@post.Cover';" class="card-img-top list-img-desktop-size-small" alt="@post.Title">
                                                        @if (post.Featured)
                                                        {
                                                            <span class="post-featrued-label"><i class="fa fa-star"></i>@Localizer["featured"]</span>
                                                        }

                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>
                                                <!--/.Card image-->
                                                <!--Card content-->
                                                <div class="card-body mx-4">
                                                    <!--Title-->
                                                    <h6 class="card-title">
                                                        <strong><a href="~/posts/@post.Slug">@post.Title</a> </strong>
                                                    </h6>
                                                    <em class="written-by">
                                                        @Localizer["written-by"] @post.Author.DisplayName, @post.Published.ToFriendlyDateString()
                                                    </em>
                                                    <hr>
                                                    <!--Text-->
                                                    <p class="dark-grey-text mb-3">
                                                        @Html.Raw(post.Description)
                                                    </p>
                                                    <p class="text-right mb-0 text-uppercase dark-grey-text font-weight-bold">
                                                        <a href="~/posts/@post.Slug" style="color:white" class="btn btn-dark float-left">@Localizer["read"]...</a>
                                                    </p>
                                                </div>
                                                <!--/.Card content-->

                                            </div>
                                            <!--/.Card-->
                                        </div>
                                        <!--Grid column-->
                                        @if (current == 2 || (current % 2 == 1 && current != 1))
                                        {
                                            @Html.Raw("</div>")
                                        }

                                    }

                                    current += 1;
                                }
                            </section>
                        </div>

                        <!-- PAGINATION -->
                        @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
                        {
                            <!--Pagination dark grey-->
                            <nav class="mb-5 pb-2">
                                <ul class="pagination pg-darkgrey flex-center">
                                    <!--Arrow left-->
                                    <li class="page-item">
                                        <a class="page-link" aria-label="Forrige">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Forrige</span>
                                        </a>
                                    </li>

                                    <!--Numbers-->
                                    @*<li class="page-item active">
                                            <a class="page-link sv2test">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link">4</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link">5</a>
                                        </li>*@

                                    <!--Arrow right-->
                                    <li class="page-item">
                                        <a class="page-link" aria-label="Neste">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Neste</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!--Pagination dark grey-->
                        }
                    }
                    else
                    {
                        <!--EMPTY-->
                        <div class="col-lg-8 col-12 mt-1 mx-lg-4">

                            <!--Section: Blog v.3-->
                            <section class="section extra-margins pb-3 text-center text-lg-left">
                                <div class="notfound">@Localizer["empty"]</div>
                            </section>
                        </div>
                    }

                    <!-- Sidebar -->
                    <partial name="~/Views/Themes/Sv2blog/Shared/Sidebar.cshtml" model="listModel.Categories"/>
                </div>
            </div>
        </div>
    </section>
    <partial name="~/Views/Themes/Sv2blog/Shared/Footer.cshtml" model="listModel.Blog"/>
</body>
</html>